/* Comienza css header */
body{
    margin: 0%;
}
.contenedor-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    }
    
    
    header {
        background-color:#500ED0;
        width: 100%;
    }
    
    .logo{
        width: 250px;
        display: inline-flex;
        margin-top: 20px;
    }
    
    .menu-nav{
        display:inline-flex ;
        justify-content: center;
        margin-left: 250px;   
    }
    
    .lista-nav{
    list-style: none;
    }
    
    .elementos-nav {
        float: left;
        padding: 10px;
    }
    
    
    .elementos-nav:hover a{
        color: black;    
    }
    
    .botones-nav{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size:xx-large;
    }
    
    .buscar {
        position: absolute;
        padding: 5px;  
        display: inline-flex; 
        margin-top: 55px;
        margin-left: 350px;
    }
    
    .buscar:hover input{
        width: 150px;
    }
    
    
    .buscar input {
        width: 0px;
        height: 40px;
        padding: 0 20px;
         font-size: 18px;
         color: black;
         outline: none;
         border: 1px solid silver;
         border-radius: 30px;
        transition: all 0.6s ease;
    }
    
    .buscar input:focus{
        width: 150px;
    }
    
    .btn .lupa {
        width: 55px;
        height: 55px;    
        line-height: 55px;
        position: absolute;
        top: 0%;
        right: 0%;
        background: #500ED0;
        text-align: center;
        color: white;
        font-size: 20px;
        border-radius: 50%;
        cursor:pointer;
    }
    
    /* Termina css header */
    

/**Empieza Main **/
h1{
    margin-left: 10px;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    color: #500ED0;
}
h2{
    font-size: 30px;
    text-align: center;
}

p{
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
}

.island{
    display:flex;
    width: 300px;
    background-color: red;
    
    
}

.box{
    margin-left: -15%;
    text-align: center;
    width: 70%;
}
 

#ole{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 250px;
    list-style: none;
    background-color: white;
    text-decoration: none;

    }



#ole li{
    width: 25%;
}

   /**Termina main**/


   /* Comienza css footer */

.footer {
    background-color:#500ED0;
width: 100%;    
}

.boton-msj-footer {
text-decoration: none;
}

.Footer-msj {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    color: white;
}

.footer-message{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: white;
}

.social {
    list-style: none;
    display: inline-flex;
    margin-left: 800px;
}

.iconos{ 
    padding: 10px;
}

.copy {
display: flex;
justify-content: center;    
color: white;
}

/* Termina css footer */


/** Empieza el responsive**/

@media(max-width: 768PX){
    body{
        margin: 0%;
    }
    p{
        width: 100%;
        font-size: 14px;
        text-align: center;
        text-justify: newspaper;
        margin-left: 20px;
    }
    h2{
      text-align: center;
      margin-left: 23%;
    }

    #ole {
        width: 100%;
        margin-left: 23%;
        margin-right: 8%;
    }

    #ole li{
        flex-wrap: wrap;
        width: 50%;
    }

    #top{
        width: 80%;
    }
}