/** CSS Header @media monitor INICIO **/

body{
    margin: 0;
}

header{
    width: 100% auto;
    display: flex;
    background-color: #500ed0;
    flex-wrap: wrap;
    flex-direction: row;
}

nav{
    float: left;
    display: flex;
    flex-direction: row;  
}

  


.logo{
width: 100%;
margin-left: 2%;
margin-top: 2%;
margin-bottom: 2%;
margin-right: 0;
}





.lista-nav {
display: flex;
flex-direction: row;
list-style: none;
width: 100%;
margin-left: 25%;
}

.elementos-nav{
    
    width: 100%;
    padding: 5px;
}

.elementos-nav:hover a{
    color: black;    
}

.botones-nav{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size:x-large;
    }



@media (min-width:1001px) {
    .buscar {
        position: absolute;
        padding: 5px;  
        display: flex; 
        margin-top: 0.5%;
        margin-left: 85%;
    }
    
    .buscar:hover input{
        width: 150px;
    }
    
    
    .buscar input {
        width: 0px;
        height: 40px;
        padding: 0 20px;
         font-size: 18px;
         color: black;
         outline: none;
         border: 1px solid silver;
         border-radius: 30px;
        transition: all 0.6s ease;
    }
    
    .buscar input:focus{
        width: 150px;
    }
    
    .btn .lupa {
        width: 55px;
        height: 55px;    
        line-height: 55px;
        position: absolute;
        top: 0%;
        right: 0%;
        background: #500ED0;
        text-align: center;
        color: white;
        font-size: 20px;
        border-radius: 50%;
        cursor:pointer;
    }
}
    /* CSS Header @media monitor FIN*/


    /* CSS Header @media tablet COMIENZO*/

@media ( max-width:1000px) {

nav a{
    width: 150px;
    margin-top: 15px;
}

.lista-nav{
margin-left: -20px;    
width: 100%;
}

.elementos-nav{
    width: 100%;
    padding: 1%;   
}

.botones-nav{
font-size: medium;   
}

.lupa {
    width: 30px;
}

.buscar form{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10%;
    margin-left: 10%;
}

.buscar form input{
    width: 50%;
    margin-top: 2%;
}
}

/* CSS Header @media tablet FIN*/


/*CSS Footer @media monitor y tablet INICIO*/
.footer {
    background-color:#500ED0;
width: 100%;   
display: flex; 
flex-wrap: wrap;
flex-direction: column;
}

.boton-msj-footer {
text-decoration: none;
}

.Footer-msj {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    color: white;
}

.footer-message{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: white;
}

.social {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.iconos{ 
    padding: 10px;
}

.copy {
display: flex;
justify-content: center;    
color: white;
}

/*CSS Footer @media monitor y tablet FIN*/

